* {
    /* reset css */
    margin: 0;
    padding: 0;
    box-sizing: 0,
}
.conteiner {
    /* primis altezza larghezza */
    width: 100vw;
    height: 100vh;
    /* senza dimensioni non compare */
    background-image:url("https://lh5.googleusercontent.com/-oxbOBygj9o0/VML0O-Zz0HI/AAAAAAAAArs/dSK_h-68SNw/s1600/travel-around-the-world-desktop-wallpaper-desktopia.jpg");
    background-color: grey;
    /* immagine non stratch */
    background-size: cover;
    /* immagine non ripetuta */
    background-repeat: no-repeat;
    /* non può essere static */
    position: relative;
    }

.scatola {
    /* si parte dalle dimensioni (larghezza) img saranno 4/3 400x300 box 500x1000px*/
    width: 500px;
    height: 100%;
    /* va centrato */
    /* position diversa da static per permettermi di muovere i contenuto, in questo caso testo */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.overlay {
    /* dobbiamo dare le dimensioni della foto */
    width: 300px;
    height: 200px;
    /* usiamo rgba per farlo trasparenza */
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin: auto;
    border-radius: 6%;
}
.milano {
    /* dimensioni img */
    width: 300px;
    height: 200px;
    /* Ridimensiona l'immagine di sfondo per coprire l'intero contenitore */
    background-size: cover;
    background-image: url("https://sofitel.accor.com/destinations/imagerie/duomodimilano-milan-600x500-bda2.jpg");
    position: relative;
    /* accentra il div .milano */
    /* con TOP cerco di centrare le 3 foto */
    /* MODO NON CORRETTO */
    margin-top: 35px;
    /* con L e R auto lo accentro */
    margin-left: auto;
    margin-right: auto;
    /* BORDO */
    border: 4px solid rgba(255,255,255, 0.8);
    /* curvatura */
    border-radius: 8%;
}
.roma {
    /* dimensioni img */
    width: 300px;
    height: 200px;
    /* Ridimensiona l'immagine di sfondo per coprire l'intero contenitore */
    background-size: cover;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia-cdn.tripadvisor.com%2Fmedia%2Fattractions-splice-spp-540x360%2F07%2Faa%2F32%2F2f.jpg&f=1&nofb=1");
    position: relative;
    /* accentra il div .milano */
    margin: auto;
    /* BORDO */
    border: 4px solid rgba(255,255,255, 0.8);
    border-radius: 8%;
    margin-top: 4px;
    margin-bottom: 4px;
}
.venezia {
    /* dimensioni img */
    width: 300px;
    height: 200px;
    /* Ridimensiona l'immagine di sfondo per coprire l'intero contenitore */
    background-size: cover;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.macosxtips.co.uk%2Fgeeklets%2Fmodules%2Fupload%2Fattachments%2FVenice%2520Wallpaper.jpg&f=1&nofb=1");
    position: relative;
    /* accentra il div .milano */
    margin: auto;
    /* BORDO */
    border: 4px solid rgba(255,255,255, 0.8);
    /* arrotondare i bordi */
    border-radius: 8%;
}
.testo {
    /* centriamo il testo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* colore per vederlo meglio */
    color: white;
}
/* prima ".contenitore" per selezionare immagine e cuore / prima display NONE poi BLOCK */
.cuore {
    display: none;
    font-size: 40px;
    color: red;
}
.milano:hover .cuore {
    display: block;
}
.roma:hover .cuore {
    display: block;
}
.venezia:hover .cuore {
    display: block;
}

/* DA RIVEDERE E CHIEDERE, CENTRATURA IMMAGINI / SPAZIO TRA LORO
/ TROPPE RIPETIZIONE NELLA SCRITTURA DEL CSS, IMPARIAMO DAI PIGRI :) */
